.more-posts {
    padding-block: 60px;
    border-top: 1px solid var(--border-color);
}
.more-posts h2 {
    margin-bottom: 40px;
    text-transform: capitalize;
    font-size: clamp(1.3rem, 3vw, 3rem);
}
.more-content {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.more-posts .more-content .card {
    width: 1fr;
    display: flex;
    gap: 20px;
    padding: 10px;
    border: 1px solid var(--border-color);
    height: auto;
    align-items: center;
    flex-wrap: wrap;
    cursor: pointer;
}
@media (max-width: 430px) {
    .more-posts .more-content .card {
        flex-direction: column;
        justify-content: center;
    }
}
.more-posts .card .image {
    max-width: 100px;
    max-height: 100px;
    overflow: hidden;
}
.more-posts .card .img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}
.more-posts .text {
     max-width: 200px;
}
